BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.targets
BusinessLogic/obj/project.assets.json
BusinessLogic/obj/project.nuget.cache
BusinessLogic/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BusinessLogic/obj/Debug/net6.0/BusinessLogic.AssemblyInfo.cs
BusinessLogic/obj/Debug/net6.0/BusinessLogic.AssemblyInfoInputs.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.assets.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.AssemblyReference.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.CopyComplete
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.CoreCompileInputs.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.FileListAbsolute.txt
BusinessLogic/obj/Debug/net6.0/BusinessLogic.dll
BusinessLogic/obj/Debug/net6.0/BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
BusinessLogic/obj/Debug/net6.0/BusinessLogic.GlobalUsings.g.cs
BusinessLogic/obj/Debug/net6.0/BusinessLogic.pdb
BusinessLogic/obj/Debug/net6.0/ref/BusinessLogic.dll
BusinessLogic/bin/Debug/net6.0/BusinessLogic.deps.json
BusinessLogic/bin/Debug/net6.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net6.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net6.0/DataAccess.dll
BusinessLogic/bin/Debug/net6.0/DataAccess.pdb
BusinessLogic/bin/Debug/net6.0/ref/BusinessLogic.dll
webApp/obj/project.assets.json
webApp/obj/project.nuget.cache
webApp/obj/staticwebassets.pack.sentinel
webApp/obj/webApp.csproj.nuget.dgspec.json
webApp/obj/webApp.csproj.nuget.g.props
webApp/obj/webApp.csproj.nuget.g.targets
webApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
webApp/obj/Debug/net6.0/apphost.exe
webApp/obj/Debug/net6.0/project.razor.json
webApp/obj/Debug/net6.0/staticwebassets.build.json
webApp/obj/Debug/net6.0/staticwebassets.development.json
webApp/obj/Debug/net6.0/webApp.AssemblyInfo.cs
webApp/obj/Debug/net6.0/webApp.AssemblyInfoInputs.cache
webApp/obj/Debug/net6.0/webApp.assets.cache
webApp/obj/Debug/net6.0/webApp.csproj.AssemblyReference.cache
webApp/obj/Debug/net6.0/webApp.csproj.CopyComplete
webApp/obj/Debug/net6.0/webApp.csproj.CoreCompileInputs.cache
webApp/obj/Debug/net6.0/webApp.csproj.FileListAbsolute.txt
webApp/obj/Debug/net6.0/webApp.dll
webApp/obj/Debug/net6.0/webApp.GeneratedMSBuildEditorConfig.editorconfig
webApp/obj/Debug/net6.0/webApp.genruntimeconfig.cache
webApp/obj/Debug/net6.0/webApp.GlobalUsings.g.cs
webApp/obj/Debug/net6.0/webApp.MvcApplicationPartsAssemblyInfo.cache
webApp/obj/Debug/net6.0/webApp.pdb
webApp/obj/Debug/net6.0/webApp.RazorAssemblyInfo.cache
webApp/obj/Debug/net6.0/webApp.RazorAssemblyInfo.cs
webApp/obj/Debug/net6.0/ref/webApp.dll
webApp/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
webApp/obj/Debug/net6.0/scopedcss/bundle/webApp.styles.css
webApp/obj/Debug/net6.0/scopedcss/projectbundle/webApp.bundle.scp.css
DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
DataAccess/obj/DataAccess.csproj.nuget.g.props
DataAccess/obj/DataAccess.csproj.nuget.g.targets
DataAccess/obj/project.assets.json
DataAccess/obj/project.nuget.cache
DataAccess/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfoInputs.cache
DataAccess/obj/Debug/net6.0/DataAccess.assets.cache
DataAccess/obj/Debug/net6.0/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/net6.0/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/net6.0/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Debug/net6.0/DataAccess.dll
DataAccess/obj/Debug/net6.0/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
DataAccess/obj/Debug/net6.0/DataAccess.GlobalUsings.g.cs
DataAccess/obj/Debug/net6.0/DataAccess.pdb
DataAccess/obj/Debug/net6.0/ref/DataAccess.dll
webApp/bin/Debug/net6.0/appsettings.Development.json
webApp/bin/Debug/net6.0/appsettings.json
webApp/bin/Debug/net6.0/BusinessLogic.dll
webApp/bin/Debug/net6.0/BusinessLogic.pdb
webApp/bin/Debug/net6.0/DataAccess.dll
webApp/bin/Debug/net6.0/DataAccess.pdb
webApp/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
webApp/bin/Debug/net6.0/Newtonsoft.Json.dll
webApp/bin/Debug/net6.0/System.Net.Http.Formatting.dll
webApp/bin/Debug/net6.0/webApp.deps.json
webApp/bin/Debug/net6.0/webApp.dll
webApp/bin/Debug/net6.0/webApp.exe
webApp/bin/Debug/net6.0/webApp.pdb
webApp/bin/Debug/net6.0/webApp.runtimeconfig.json
webApp/bin/Debug/net6.0/webApp.staticwebassets.runtime.json
webApp/bin/Debug/net6.0/ref/webApp.dll
DataAccess/bin/Debug/net6.0/DataAccess.deps.json
DataAccess/bin/Debug/net6.0/DataAccess.dll
DataAccess/bin/Debug/net6.0/DataAccess.pdb
DataAccess/bin/Debug/net6.0/ref/DataAccess.dll
cApp/bin/Debug/net6.0/BusinessLogic.dll
cApp/bin/Debug/net6.0/BusinessLogic.pdb
cApp/bin/Debug/net6.0/cApp.deps.json
cApp/bin/Debug/net6.0/cApp.dll
cApp/bin/Debug/net6.0/cApp.exe
cApp/bin/Debug/net6.0/cApp.pdb
cApp/bin/Debug/net6.0/cApp.runtimeconfig.json
cApp/bin/Debug/net6.0/ConsoleTables.dll
cApp/bin/Debug/net6.0/DataAccess.dll
cApp/bin/Debug/net6.0/DataAccess.pdb
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Binder.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.CommandLine.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Configuration.UserSecrets.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Hosting.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.Configuration.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.Console.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.Debug.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventLog.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventSource.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
cApp/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
cApp/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
cApp/bin/Debug/net6.0/Newtonsoft.Json.dll
cApp/bin/Debug/net6.0/System.Diagnostics.EventLog.dll
cApp/bin/Debug/net6.0/System.Net.Http.Formatting.dll
cApp/bin/Debug/net6.0/ref/cApp.dll
cApp/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
cApp/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
cApp/obj/cApp.csproj.nuget.dgspec.json
cApp/obj/cApp.csproj.nuget.g.props
cApp/obj/cApp.csproj.nuget.g.targets
cApp/obj/project.assets.json
cApp/obj/project.nuget.cache
cApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
cApp/obj/Debug/net6.0/apphost.exe
cApp/obj/Debug/net6.0/cApp.AssemblyInfo.cs
cApp/obj/Debug/net6.0/cApp.AssemblyInfoInputs.cache
cApp/obj/Debug/net6.0/cApp.assets.cache
cApp/obj/Debug/net6.0/cApp.csproj.AssemblyReference.cache
cApp/obj/Debug/net6.0/cApp.csproj.CopyComplete
cApp/obj/Debug/net6.0/cApp.csproj.CoreCompileInputs.cache
cApp/obj/Debug/net6.0/cApp.csproj.FileListAbsolute.txt
cApp/obj/Debug/net6.0/cApp.dll
cApp/obj/Debug/net6.0/cApp.GeneratedMSBuildEditorConfig.editorconfig
cApp/obj/Debug/net6.0/cApp.genruntimeconfig.cache
cApp/obj/Debug/net6.0/cApp.GlobalUsings.g.cs
cApp/obj/Debug/net6.0/cApp.pdb
cApp/obj/Debug/net6.0/ref/cApp.dll
CEProject.Test/bin/Debug/net6.0/appsettings.Development.json
CEProject.Test/bin/Debug/net6.0/appsettings.json
CEProject.Test/bin/Debug/net6.0/BusinessLogic.dll
CEProject.Test/bin/Debug/net6.0/BusinessLogic.pdb
CEProject.Test/bin/Debug/net6.0/Castle.Core.dll
CEProject.Test/bin/Debug/net6.0/CEProject.Test.deps.json
CEProject.Test/bin/Debug/net6.0/CEProject.Test.dll
CEProject.Test/bin/Debug/net6.0/CEProject.Test.pdb
CEProject.Test/bin/Debug/net6.0/CEProject.Test.runtimeconfig.json
CEProject.Test/bin/Debug/net6.0/CoverletSourceRootsMapping
CEProject.Test/bin/Debug/net6.0/DataAccess.dll
CEProject.Test/bin/Debug/net6.0/DataAccess.pdb
CEProject.Test/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
CEProject.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
CEProject.Test/bin/Debug/net6.0/Moq.dll
CEProject.Test/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
CEProject.Test/bin/Debug/net6.0/Newtonsoft.Json.dll
CEProject.Test/bin/Debug/net6.0/NuGet.Frameworks.dll
CEProject.Test/bin/Debug/net6.0/System.Net.Http.Formatting.dll
CEProject.Test/bin/Debug/net6.0/testhost.dll
CEProject.Test/bin/Debug/net6.0/testhost.exe
CEProject.Test/bin/Debug/net6.0/webApp.deps.json
CEProject.Test/bin/Debug/net6.0/webApp.dll
CEProject.Test/bin/Debug/net6.0/webApp.exe
CEProject.Test/bin/Debug/net6.0/webApp.pdb
CEProject.Test/bin/Debug/net6.0/webApp.runtimeconfig.json
CEProject.Test/bin/Debug/net6.0/webApp.staticwebassets.runtime.json
CEProject.Test/bin/Debug/net6.0/xunit.abstractions.dll
CEProject.Test/bin/Debug/net6.0/xunit.assert.dll
CEProject.Test/bin/Debug/net6.0/xunit.core.dll
CEProject.Test/bin/Debug/net6.0/xunit.execution.dotnet.dll
CEProject.Test/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
CEProject.Test/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
CEProject.Test/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
CEProject.Test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/ref/CEProject.Test.dll
CEProject.Test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CEProject.Test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CEProject.Test/obj/CEProject.Test.csproj.nuget.dgspec.json
CEProject.Test/obj/CEProject.Test.csproj.nuget.g.props
CEProject.Test/obj/CEProject.Test.csproj.nuget.g.targets
CEProject.Test/obj/project.assets.json
CEProject.Test/obj/project.nuget.cache
CEProject.Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CEProject.Test/obj/Debug/net6.0/CEProject.Test.AssemblyInfo.cs
CEProject.Test/obj/Debug/net6.0/CEProject.Test.AssemblyInfoInputs.cache
CEProject.Test/obj/Debug/net6.0/CEProject.Test.assets.cache
CEProject.Test/obj/Debug/net6.0/CEProject.Test.csproj.AssemblyReference.cache
CEProject.Test/obj/Debug/net6.0/CEProject.Test.csproj.CopyComplete
CEProject.Test/obj/Debug/net6.0/CEProject.Test.csproj.CoreCompileInputs.cache
CEProject.Test/obj/Debug/net6.0/CEProject.Test.csproj.FileListAbsolute.txt
CEProject.Test/obj/Debug/net6.0/CEProject.Test.dll
CEProject.Test/obj/Debug/net6.0/CEProject.Test.GeneratedMSBuildEditorConfig.editorconfig
CEProject.Test/obj/Debug/net6.0/CEProject.Test.genruntimeconfig.cache
CEProject.Test/obj/Debug/net6.0/CEProject.Test.pdb
CEProject.Test/obj/Debug/net6.0/ref/CEProject.Test.dll
