@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h4>Updating stock of top sold product that is in "in progress" orders to 25</h4>
<p>@Model.UpdateStockResult</p>
<hr />
<h3>List of Top 5 sold products that are in "in progress" orders: </h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">GTIN</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.products)
    {
        <tr>
            <td>@item.Gtin</td>
            <td>@item.productName</td>
            <td>@item.Quantity</td>
        </tr>
    }
  </tbody>
</table>